<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<table>
    <tr>
        <td>
            <table border = 1>
        <tr>

            <th>Services</th>
            <th>Latitude</th>

        </tr>

        <tr>

            <td>1</td>
            <td><a href="http://0.0.0.0:4000/api/get_stores" >List stores</a></td>

        </tr>
        <tr>

            <td>2</td>
            <td><a href="http://0.0.0.0:4000/api/get_store_lats">Get latitude and longtitude for each store</a></td>

        </tr>

      </table>

        </td>
        <td>
            <!-- Serving an Image -->

            <img src="{{ url_for('static', filename = 'papillon.jpg') }}" width="300" height="300" alt="Papillon" title="Papillon" border="0">



        </td>
    </tr>
</table>
</body>
</html>