<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<table>
    <tr>
        <td>
           <table border = 1>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Postcode</th>
            <th>Latitude</th>
            <th>Longitude</th>

        </tr>
         {% for store in store_list %}
        <tr>
            <td>{{loop.index}} </td>
            <td>{{ store.name }}</td>
            <td>{{ store.postcode }}</td>

            <td>{{ store.lat }}</td>
            <td>{{ store.long }}</td>

        </tr>
        {% endfor %}
        <tr>
            <td><a href="http://0.0.0.0:4000/" >Home</a></td>
        </tr>
      </table>

        </td>
        <td>
            <!-- Serving an Image -->

            <img src="{{ url_for('static', filename = 'papillon.jpg') }}" width="300" height="300" alt="Papillon" title="Papillon" border="0">



        </td>
    </tr>
</table>


</body>
</html>